[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
repositorio/
binDebug/
/binDebug
/binRelease
/Business.BackOfficeApp/log
Business.BackOfficeApp/scripts/clientsolicitud.js
Business.BackOfficeApp/scripts/clientcoti.js
Business.BackOfficeApp/scripts/clientcommon.js
Business.BackOfficeApp/scripts/client.js
Business.BackOfficeApp/scripts/clientheader.js
.vs/
/Business.BackOfficeApp/scripts/clientcoti18.js
